/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

nav {
	margin-bottom: 20px !important;
}

#notice {
	position: absolute;
	margin: 0 auto;
	padding: 10px 20px;
	width: 100%;
	max-width: 980px;
	left: 50%;
	margin-left: -490px;
	top: 100px;
}

form footer {
	margin-top: 20px;
}

#routes_overlay {
	position: absolute; top: 260px;  padding-left: 20px;

	span {
		padding-left: 0 !important;
	}

	ul {
		margin-bottom: 0;
	}
}

.scrollfeed {
	max-height: 450px;
	overflow-y: auto;
}

#route_steps_data {
	height: 300px;
	overflow-y: scroll;
	margin-top: 20px;
	ul {
		padding-left: 0;
	}
}
