<div class="col-md-12">
<input type="hidden" id="keep_directions" />
<%= render :file => 'uicomponents/menu', :locals => { :menu => "watching"} %>
<% @colors = ["#FF0000", "#DD0000", "#BB0000", "#990000", "#770000", "#550000"] %>
<%= render :file => 'uicomponents/routeslist', :locals => { :routes => @routes, :colors => @colors} %>
</div>
<aside class="col-md-12">
	<%= render :file => 'uicomponents/map' %>
</div>