<form action="<%= search_routes_path %>" class="pull-left form-inline" method="get" role="form">
<div class="form-group">
<input type="text" class="form-control" name="k" value="" placeholder="Rua/Avenida, cidade..." />
</div>
<button type="submit" class="btn btn-primary">buscar</button>
</form>