<div class="col-md-12">
<%= render :file => 'uicomponents/menu', :locals => { :menu => "available"} %>
</div>

<div class="col-md-4" id="routes_overlay">
<%= render :file => 'uicomponents/routeslist', :locals => { :routes => @routes} %>	
</div>

<aside class="col-md-8">
	<%= render :file => 'uicomponents/map' %>
	<div class="current_route_data"></div>
</div>
