<h2>O que você quer fazer?</h2>
<div class="col-md-6">
	<%= link_to "Oferecer carona?", new_route_path, :class => "btn btn-primary col-md-12" %>
</div>
<div class="col-md-6">
	<%= link_to "Procurar carona?", routes_path, :class => "btn btn-primary col-md-12" %>
</div>